.header {
  background: linear-gradient(#fff, #ffd6d6);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

/* navigation */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10rem;
  cursor: pointer;
  /* width: 12%; */
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #555;
}

.cart {
  width: 2rem;
  margin-bottom: 3px;
  cursor: pointer;
}

/* Banner */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7rem 0;
  padding-bottom: 1rem;
}

.introduce {
  flex-basis: 45%;
  min-width: 300px;
  /* margin-bottom: 1rem; */
}

.introduce h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 2.6rem;
}

.introduce p {
  color: #555;
  margin-bottom: 2.6rem;
}

.introduce button {
  border: none;
  background-color: #ff523b;
  color: white;
  padding: 0.5rem 1.9rem;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.5s;
}

.introduce button:hover {
  background-color: #563434;
}

.banner img {
  max-width: 50%;
  display: inline-block;
}
