.offer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#fff, #ffd6d6);
  padding: 4rem;
}

.picture-offer {
  flex-basis: 28%;
}

.offer img {
  width: 100%;
  display: block;
}
.info {
}
