.offer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#fff, #ffd6d6);
  padding: 6rem;
}

.picture-offer {
  display: flex;
  flex-basis: 50%;
  justify-content: end;
  padding-right: 2rem;
}

.info-container {
  flex-basis: 50%;
  /* max-width: 50%; */
  /* padding-right: 15rem; */
}

.offer img {
  min-width: 350px;
  width: 55%;
  display: block;
  justify-content: center;/
}


.info-container h1 {
  font-size: 3.3rem;
  margin: 2rem 0;
}

.info-container p {
  color: #555;
}

.description {
  margin-bottom: 2rem;
}
